.center{
    text-align: center;
}

body {
    background-color: black;
}

/* --- Top --- */
img#cover {
    width: 100%;
}

div#divider_top {
    height: 20px;
}

div#divider {
    height: 50px;
}


/* --- Info List --- */
#intro_link_table {
    display:table;
    margin-left:auto; 
    margin-right:auto;
}

.intro_link_tr {
    display: table-row;
    height: 30px;
}

.intro_link_td {
    display: table-cell;
    width: 60px;
    border: 10px solid black;     
}

.intro_link {
    font-size: 150%;
    color: gray;    
}


/* --- Info --- */
font#intro_poster {
    color: yellow;
    font-size: 250%;    
    font-weight: bold;
    font-family: monospace;
    font-style:oblique;
}

img#poster {
    width: calc(100vw/2); 
}

img#seats {
    width: calc(100vw/2); 
}

font#intro_video {
    color: yellow;
    font-size: 250%;    
    font-weight: bold;
    font-family: monospace;
    font-style:oblique;
}

iframe#video {
    width: calc(100vw/1.5);
    /* Video ratio = h: w = 4:3 */;
    height: calc(calc(100vw/1.5)*(3/4));
}

div#divider_intro {
    height: 25px;
}

/* --- Bottom --- */
div#divider_bottom {
    height: 100px;
}

.back_link {
    font-size: 2em;
    color: gray;    
}

div#divider_bottom2 {
    height: 15px;
}

font#copyright {
    color: gray;
}
